<nav class="navbar navbar-expand-xxxl nav-border nav-position bg-white rounded-bottom-3 py-0 nav-width zindex-1000">
    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-between">
            <h1 class="mx-xxxl-auto pt-xxxl-11 pb-xxxl-6"><a class="navbar-brand m-0" href="index.html"><img src="/assets/images/Logo.png" alt="logo" class="logo"></a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-xxxl-column text-center fw-medium w-100">
                <li>
                    <form action="#" class="input-group w-100">
                        <label for="search" class="input-group-text pe-0 bg-white border-search border-start-0 rounded-0"><i class="bi bi-search text-gray-40"></i></label>
                        <input type="text" id="search" placeholder="搜尋" class="form-control border-input border-end-0 rounded-0 ps-2">
                    </form>
                </li>
                <li class="nav-item"><a class="nav-link active text-gray-60 pt-6"  href="#">精選文章</a></li>
                <li class="nav-item"><a class="nav-link text-gray-60" href="mainCourse.html">課程專區</a></li>
                <li class="nav-item"><a class="nav-link text-gray-60" href="#">我的課程</a></li>
                <li class="nav-item"><a class="nav-link text-gray-60" href="aboutus.html">關於我們</a></li>
                <li><a href="#"><img src="/assets/images/sign-in.png" alt="sign in" class="clockIN pt-2 pb-6"></a></li>
                <li class="signIN d-flex align-items-center">
                    <a href="#" class="btn btn-primary text-nowrap rounded-0 radius-bottom-l border-end-dark btn-border-top nav-btn-hover nav-hover fw-medium w-100"><i class="bi bi-cart-fill"></i>購物車</a>
                    <div class="btn-group dropup">
                        <a href="#" class="btn btn-primary dropdown-up text-nowrap rounded-0 radius-bottom-r btn-border-top nav-btn-hover fw-medium" data-bs-toggle="dropdown"><i class="bi bi-person-fill"></i>帳戶</a>
                        <ul class="dropdown-menu dropdown-menu-end me-3 mb-3 p-3 border-2px">
                            <li class="py-2 px-5"><a href="personal.html" class="text-gray-60 li-hover"><i class="bi bi-person-circle"></i> 個人資料</a></li>
                            <li class="py-2 px-5"><a href="" class="text-gray-60 li-hover"><i class="bi bi-star"></i> 積分紀錄</a></li>
                            <li class="py-2 px-5"><a href="" class="text-gray-60 li-hover"><i class="bi bi-bell"></i> 訊息通知</a></li>
                            <li class="py-2 px-5 border-bottom-black"><a href="" class="text-gray-60 li-hover"><i class="bi bi-gear"></i> 設定</a></li>
                            <li class="py-2 px-5 logOut"><a href="" class="text-gray-60 li-hover"><i class="bi bi-box-arrow-right"></i> 登出</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </nav>