<!DOCTYPE html>
<html lang="zh-hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>學識伴LearnPlus++ : 首頁</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <section class="banner-bg">
      <div class="container d-flex jutify-content-center align-items-center">
        <div class="mx-auto d-flex flex-column align-items-center slogan-position">
          <h1 class="text-success position-relative slogan me-128 mb-2" data-stroke="共學共成">共學共成</h1>
          <h1 class="text-success position-relative slogan ms-96" data-stroke="知識無界">知識無界</h1>
          <h4 class="mt-4 ms-sm-auto fs-20-24">團隊的力量，是學習的捷徑！</h4>
        </div>
      </div>
    </section>
    <!-- web intro -->
    <section>
    <div class="container">
      <div class="py-9 py-lg-15">
        <div class="row ">
          <div class="col-lg-10 mx-auto">
            <div class="row flex-column flex-lg-row">
              <div class="col-lg-7">
                <div class="d-flex flex-column h-100">
                  <div class="my-auto">
                    <h3 class="mb-2 mb-lg-5 fs-lg-1">學識伴</h3>
                    <a href="#index.html"><img src="/assets/images/Logo text.png" alt="logo-text" class="d-block mb-5 mb-lg-7 plus"></a>
                    <p class="fs-lg-3 mb-5">本平台支持不同MBTI人群共同線上學習，促進多樣性交流，增強合作效能，並提供個性化的學習體驗以滿足不同需求。</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="circle-box mx-auto position-relative">
                  <div class="circle-out circle-position-1 position-absolute bg-white">
                    <div class="circle-ins d-flex flex-column align-items-center">
                      <div class="my-auto">
                        <p class="text-center "><span class="material-symbols-outlined text-primary-dark fs-1">done_outline</span></p>
                        <h4>深入學習</h4>
                      </div>
                    </div>
                  </div>
                  <div class="circle-out circle-position-2 position-absolute bg-white">
                    <div class="circle-ins d-flex flex-column align-items-center">
                      <div class="my-auto">
                        <p class="text-center "><span class="material-symbols-outlined text-primary-dark fs-1">done_outline</span></p>
                        <h4>個性化教學</h4>
                      </div>
                    </div>
                  </div>
                  <div class="circle-out circle-position-3 position-absolute bg-white">
                    <div class="circle-ins d-flex flex-column align-items-center">
                      <div class="my-auto">
                        <p class="text-center "><span class="material-symbols-outlined text-primary-dark fs-1">done_outline</span></p>
                        <h4>合作互助</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- teacher -->
    <section>
      <div class="container container-fuild">
        <div class="row">
          <div class="col-md-10 mx-sm-auto">
            <div class="mac-border">
              <div class="d-flex justify-content-between align-items-center mac-header-bg ps-5">
                <div class="d-flex align-items-center py-7">
                  <div class="d-flex me-5 me-md-12">
                    <p class="mac-sign bg-danger me-2 me-md-5"></p>
                    <p class="mac-sign bg-warning me-2 me-md-5"></p>
                    <p class="mac-sign bg-success"></p>
                  </div>
                  <h5 class="fs-md-4">名師課程</h5>
                </div>
                <div class="d-none d-md-block">
                  <span class="swiper-prev swiper-btn"><i class="bi bi-arrow-left-short arrow-left align-middle fs-2"></i></span>
                  <span class="swiper-next swiper-btn"><i class="bi bi-arrow-right-short arrow-right align-middle fs-2"></i></span>
                </div>
              </div>
              <div class="swiper teacher-swiper py-7 p-md-11">
                <div class="swiper-wrapper ps-4 ps-md-0">
                  <div class="swiper-slide teacher-box">
                    <div class="">
                      <div class="position-relative mb-5">
                        <h4 class="position-absolute text-success rotate mbti-type mbti-p">INFP</h4>
                        <img src="/assets/images/teacher-1.png" alt="teacher-1" class="teacher-image">
                        
                      </div>
                      <div class="d-flex flex-column jutify-content-center px-5">
                        <h5 class="text-center mb-2">洪琦雯</h5>
                        <p class="text-center mb-5">視覺設計總監</p>
                        <a href="#" class="btn btn-outline-primary-dark border-2 text-nowrap">創意視覺傳達 <i class="bi bi-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide teacher-box">
                    <div class="">
                      <div class="position-relative mb-5">
                        <h4 class="position-absolute text-success rotate mbti-type mbti-p">ESFP</h4>
                        <img src="/assets/images/teacher-2.png" alt="teacher-2" class="teacher-image">
                        
                      </div>
                      <div class="d-flex flex-column jutify-content-center px-5">
                        <h5 class="text-center mb-2">陳靜儀</h5>
                        <p class="text-center mb-5">銷售分析師</p>
                        <a href="#" class="btn btn-outline-primary-dark border-2 text-nowrap">數位行銷策略 <i class="bi bi-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide teacher-box">
                    <div class="">
                      <div class="position-relative mb-5">
                        <h4 class="position-absolute text-success rotate mbti-type mbti-p">ESTJ</h4>
                        <img src="/assets/images/teacher-3.png" alt="teacher-3" class="teacher-image">
                        
                      </div>
                      <div class="d-flex flex-column jutify-content-center px-5">
                        <h5 class="text-center mb-2">李佳蓉</h5>
                        <p class="text-center mb-5">資深人資經理</p>
                        <a href="#" class="btn btn-outline-primary-dark border-2 text-nowrap">人力資源管理 <i class="bi bi-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide teacher-box">
                    <div class="">
                      <div class="position-relative mb-5">
                        <h4 class="position-absolute text-success rotate mbti-type mbti-p">INTJ</h4>
                        <img src="/assets/images/teacher-4.png" alt="teacher-4" class="teacher-image">
                        
                      </div>
                      <div class="d-flex flex-column jutify-content-center px-5">
                        <h5 class="text-center mb-2">陳靜儀</h5>
                        <p class="text-center mb-5">銷售分析師</p>
                        <a href="#" class="btn btn-outline-primary-dark border-2 text-nowrap">數位行銷策略 <i class="bi bi-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide teacher-box">
                    <div class="">
                      <div class="position-relative mb-5">
                        <h4 class="position-absolute text-success rotate mbti-type mbti-p">ENFP</h4>
                        <img src="/assets/images/teacher-5.png" alt="teacher-5" class="teacher-image">
                        
                      </div>
                      <div class="d-flex flex-column jutify-content-center px-5">
                        <h5 class="text-center mb-2">洪琦雯</h5>
                        <p class="text-center mb-5">視覺設計總監</p>
                        <a href="#" class="btn btn-outline-primary-dark border-2 text-nowrap">創意視覺傳達 <i class="bi bi-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- course -->
    <section>
      <div class="container">
        <div class="row pt-9">
          <div class="col-md-10 mx-md-auto">
            <div class="course-radius course-head-bg">
              <div class="position-relative py-5 py-md-8">
                <h3 class="text-center">為您推薦</h3>
                <i class="bi bi-arrow-right-short position-absolute top-0 end-0 fs-2 text-gray-80 px-2 px-md-6 py-md-3 swiper-next-btn swiper-btn swiper-radius opacity-75 d-block"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="course-bg course-radius-all">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-md-auto">
              <div class="swiper course-swiper py-7 py-lg-9 overflow">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="card card-width border-0 position-relative radius-32">
                      <img src="/assets/images/Discount-88.png" alt="Discount-88" class="dis-position dis-width">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-1.png" alt="course-1" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          <label for="cart" class="card-icon-bg"><i class="bi bi-cart fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">語言與文學</p>
                          <p class="tag-pill tag-03 text-nowrap">直播課程</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80 stretched-link">時間管理技巧</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－高宇琛</p>
                          <p class="text-primary">ESTP</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4>NT 899</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.9 (858)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card card-width border-0 position-relative radius-32">
                      <img src="/assets/images/Discount-88.png" alt="Discount-88" class="dis-position dis-width">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-2.png" alt="course-2" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">陶瓷藝術入門</p>
                          <p class="tag-pill tag-01 text-nowrap">精品文章</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80 stretched-link">陶瓷藝術入門</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－高宇琛</p>
                          <p class="text-primary">ESTP</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4>NT 899</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.9 (858)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card card-width border-0 position-relative radius-32">
                      <img src="/assets/images/Discount-88.png" alt="Discount-88" class="dis-position dis-width">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-3.png" alt="course-3" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          <label for="cart" class="card-icon-bg"><i class="bi bi-cart fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">語言與文學</p>
                          <p class="tag-pill tag-02 text-nowrap">錄製課程</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80 stretched-link">韓語口語實踐</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－高宇琛</p>
                          <p class="text-primary">ESTP</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4>NT 899</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.9 (858)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card card-width border-0 position-relative radius-32">
                      <img src="/assets/images/Discount-88.png" alt="Discount-88" class="dis-position dis-width">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-4.png" alt="course-4" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          <label for="cart" class="card-icon-bg"><i class="bi bi-cart fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">語言與文學</p>
                          <p class="tag-pill tag-04 text-nowrap">課程組合</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80 stretched-link">數位行銷策略</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－高宇琛</p>
                          <p class="text-primary">ESTP</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4>NT 899</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.9 (858)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card card-width border-0 position-relative radius-32">
                      <img src="/assets/images/Discount-88.png" alt="Discount-88" class="dis-position dis-width">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-5.png" alt="course-5" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          <label for="cart" class="card-icon-bg"><i class="bi bi-cart fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">語言與文學</p>
                          <p class="tag-pill tag-02 text-nowrap">數位行銷策略</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80 stretched-link">創意視覺故事</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－高宇琛</p>
                          <p class="text-primary">ESTP</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4>NT 899</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.9 (858)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card card-width border-0 position-relative radius-32">
                      <img src="/assets/images/Discount-88.png" alt="Discount-88" class="dis-position dis-width">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-6.png" alt="course-6" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          <label for="cart" class="card-icon-bg"><i class="bi bi-cart fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">語言與文學</p>
                          <p class="tag-pill tag-03 text-nowrap">直播課程</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80 stretched-link">全球化的利與弊</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－高宇琛</p>
                          <p class="text-primary">ESTP</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4>NT 899</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.9 (858)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- mbtitest -->
    <section>
      <div class="py-11 py-lg-15">
        <div class="container">
          <div class="pt-9">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <div class="d-flex flex-column align-items-center mb-5 mb-lg-11">
                  <h1 class="mb-5 mb-lg-7">MBTI測驗</h1>
                  <p class="text-center mb-5 mb-lg-7">通過區分色彩化的性格類型，幫助人們了解自身優勢，改善溝通合作，規劃職業方向，促進個人學習和團隊發展。</p>
                  <h5 class="btn btn-primary border-2 border-black">前往測驗 <i class="bi bi-arrow-right"></i></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <picture>
          <source srcset="/assets/images/mbti-image.png" media="(min-width:768px)">
          <img src="/assets/images/mbti-image-sm.png" alt="mbti-image-sm" class="mbti-image">
        </picture>
      </div>
    </section>
    <!-- Q & A -->
    <section class="position-relative">
      <div class="qa-bg pt-13 pb-9 py-md-15">
        <div class="form-border form-bg position-relative mx-auto">
          <form action="#" class="input-group position-absolute form-width start-50 translate-middle">
            <label for="search" class="input-group-text pe-0 bg-white border-search radius-24"><i class="bi bi-search text-gray-40"></i></label>
            <input type="text" id="search" placeholder="搜尋" class="form-control border-input radius-24 ps-2 ps-md-5">
          </form>
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="accordion accordion-h overflow-auto mt-11 mt-md-15" id="accordionExample">
                  <div class="accordion-item mb-5 mb-md-9 radius-32">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button fw-medium radius-32 fs-md-5 py-md-8 px-md-11" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                        如何報告技術問題或故障
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show radius-32" data-bs-parent="#accordionExample">
                      <div class="accordion-body px-lg-11 pt-0 pb-lg-7">
                        <p class="fs-7 fs-md-6">如果您在使用我們的產品時遇到任何技術問題或故障，請按照以下步驟報告：</p>
                        <ol class="fs-7 fs-md-6 ps-5">
                          <li>描述問題： 簡單清楚地描述您遇到的問題，包括具體情況和影響。</li>
                          <li>提供信息： 請告知我們問題發生的時間、您所使用的設備、操作系統版本，以及瀏覽器或應用程式的版本。</li>
                          <li>重現步驟： 列出問題發生前的操作步驟，以便我們能夠重現並解決該問題。</li>
                          <li>聯繫方式： 請提供您的聯繫方式，以便我們能夠在需要更多信息時與您取得聯繫。</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-5 mb-md-9 radius-32">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed fw-medium radius-32 fs-md-5 py-md-8 px-md-11" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                        如何參與平台的社群活動或討論?
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse radius-32" data-bs-parent="#accordionExample">
                      <div class="accordion-body px-lg-11 pt-0 pb-lg-7">
                        
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-5 mb-md-9 radius-32">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed fw-medium radius-32 fs-md-5 py-md-8 px-md-11" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" >
                        如何申請成為平台的合作夥伴或供應商?
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse radius-32" data-bs-parent="#accordionExample">
                      <div class="accordion-body px-lg-11 pt-0 pb-lg-7">
                        
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-5 mb-md-9 radius-32">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed fw-medium radius-32 fs-md-5 py-md-8 px-md-11" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" >
                        如何報告技術問題或故障?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse radius-32" data-bs-parent="#accordionExample">
                      <div class="accordion-body px-lg-11 pt-0 pb-lg-7">
                        
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item radius-32">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed fw-medium radius-32 fs-md-5 py-md-8 px-md-11" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" >
                        如何報告技術問題或故障?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse radius-32" data-bs-parent="#accordionExample">
                      <div class="accordion-body px-lg-11 pt-0 pb-lg-7">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="/assets/images/FAQ.png" alt="FAQ" class="d-none d-xxl-block faq-position">
    </section>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
