<!DOCTYPE html>
<html lang="zh-hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>學識伴LearnPlus++ : 個人資料</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header-logIn'); -%>
    <section>
      <div class="py-8"></div>
    </section>
    <!-- base data -->
    <section>
      <div class="container">
        <div class="py-9 py-xl-13">
          <div class="row justify-content-center">
            <div class="col-xl-7">
              <div class="d-flex flex-column">
                <div class="mb-7 mb-md-9">
                  <div class="d-flex align-items-center pb-7 pb-md-9">
                    <img src="/assets/images/photo-1.png" alt="photo-1" class="photo-img me-2">
                    <div class="me-7">
                      <h5 class="mb-2">弟弟Brother</h5>
                      <h5>INTJ</h5>
                    </div>
                  </div>
                  <h6 class="btn btn-primary btn-padding-sm border-2px btn-width">MBTI 測驗 <i class="bi bi-arrow-right"></i></h6>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="d-flex align-items-center mb-5">
                      <span class="material-symbols-outlined icon-bg radius-8 me-5">award_star</span>
                      <div>
                        <p class="fs-7">積分等級</p>
                        <h6>Lv 4 求知者</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-flex align-items-center mb-5">
                      <span class="material-symbols-outlined icon-bg radius-8 me-5">calendar_today</span>
                      <div>
                        <p class="fs-7">出生日期</p>
                        <h6>1989 / 9 / 26</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-flex align-items-center mb-5">
                      <i class="bi bi-discord lh-1 fs-4 icon-bg radius-8 me-5"></i>
                      <div>
                        <p class="fs-7">1989 / 9 / 26</p>
                        <h6>弟弟Brother(DBrother#2849)</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-flex align-items-center mb-5">
                      <span class="material-symbols-outlined icon-bg radius-8 me-5">mail</span>
                      <div>
                        <p class="fs-7">電子信箱</p>
                        <h6><a href="#mailto:example@example.com" class="text-gray-60">example@example.com</a></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-5 p-bg radius-8">
                  <p class="mb-2">關於我 :</p>
                  <p class="mb-7 ">屬於MBTI金字塔底層I到不能再I的建築師人格，雖說以官方文件來說，建築師寫得挺正向的「作為最稀有的人格類型之一，也是最有能力的人群之一」，雖說這份文件僅供參考，但有官方文件這認證，也對自己多了份信心。</p>
                  <p class="mb-2">興趣 :</p>
                  <p>平常有空喜歡看看韓劇、動漫、電影等等，平常也喜歡自己一個人手機拿著就出門晃晃，用手機拍攝不同的人事物或風景，未來希望能入手一台屬於自己的單眼，可以拍攝出更多不同風格的照片。</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div>
                <img src="/assets/images/certificate.png" alt="certificate" class="w-100">
                <div class="border-2px border-top-0 radius-bottom-8 certificate-h overflow-auto">
                  <div class="d-flex align-items-center py-3 px-5">
                    <img src="/assets/images/course-12.png" alt="course-12" class="certificate-img border-2px radius-8 me-2">
                    <p class="text-nowrap fs-7"><span class="material-symbols-outlined text-success me-1 align-bottom">workspace_premium</span>西班牙語入門</p>
                  </div>
                  <div class="d-flex align-items-center py-3 px-5">
                    <img src="/assets/images/course-13.png" alt="course-13" class="certificate-img border-2px radius-8 me-2">
                    <p class="text-nowrap fs-7"><span class="material-symbols-outlined text-success me-1 align-bottom">workspace_premium</span>設計思維與創新</p>
                  </div>
                  <div class="d-flex align-items-center py-3 px-5">
                    <img src="/assets/images/course-14.png" alt="course-14" class="certificate-img border-2px radius-8 me-2">
                    <p class="text-nowrap fs-7"><span class="material-symbols-outlined text-success me-1 align-bottom">workspace_premium</span>跨文化心理學</p>
                  </div>
                  <div class="d-flex align-items-center py-3 px-5">
                    <img src="/assets/images/course-15.png" alt="course-15" class="certificate-img border-2px radius-8 me-2">
                    <p class="text-nowrap fs-7"><span class="material-symbols-outlined text-success me-1 align-bottom">workspace_premium</span>認知心理學與行為</p>
                  </div>
                  <div class="d-flex align-items-center py-3 px-5">
                    <img src="/assets/images/course-16.png" alt="course-16" class="certificate-img border-2px radius-8 me-2">
                    <p class="text-nowrap fs-7"><span class="material-symbols-outlined text-success me-1 align-bottom">workspace_premium</span>韓語口語實踐</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- course list -->
    <section>
      <div class="courselist-bg">
        <div class="container">
          <div class="row">
            <div class="pt-9 pt-15">
              <div class="col-lg-10 mx-auto">
                <h5 class="border-bottom-black pb-5 mb-7 mb-md-11">課程清單</h5>
                <div class="row g-7 g-lg-9">
                  <div class="col-lg-4">
                    <div class="card border-0 bg-white p-7 h-100">
                      <img src="/assets/images/course-21.png" alt="course-21" class="border-2px radius-8 mb-5">
                      <h4 class="mb-2"><a href="#" class="stretched-link text-gray-60">零基礎的手機攝影術，瞬間拍出專業的風景照</a></h4>
                      <p class="fs-7 text-gray-60 mb-5">講師－高宇琛</p>
                      <div class="d-flex align-items-center mt-auto">
                        <div class="progress bg-green-light w-100 me-2" style="height:12px">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 50%"></div>
                        </div>
                        <p class="text-success fs-7">50%</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card border-0 bg-white p-7 h-100">
                      <img src="/assets/images/course-22.png" alt="course-22" class="border-2px radius-8 mb-5">
                      <h4 class="mb-2 "><a href="#" class="stretched-link text-gray-60">寵物生﻿活照實戰:快門、光圈、ISO之間的取捨...</a></h4>
                      <p class="fs-7 text-gray-60 mb-5">講師－高宇琛</p>
                      <div class="d-flex align-items-center mt-auto">
                        <div class="progress bg-green-light w-100 me-2" style="height:12px">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 50%"></div>
                        </div>
                        <p class="text-success fs-7">50%</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card border-0 bg-white p-7 h-100">
                      <img src="/assets/images/course-23.png" alt="course-23" class="border-2px radius-8 mb-5">
                      <h4 class="mb-2"><a href="#" class="stretched-link text-gray-60">不用動腦的攝影課-7堂課拍出有質感的照片</a></h4>
                      <p class="fs-7 text-gray-60 mb-5">講師－高宇琛</p>
                      <div class="d-flex align-items-center mt-auto">
                        <div class="progress bg-green-light w-100 me-2" style="height:12px">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 50%"></div>
                        </div>
                        <p class="text-success fs-7">50%</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row"> 
            <div class="py-9 py-lg-15">
              <div class="col-lg-10 mx-auto">
                <h5 class="border-bottom-black pb-5 mb-7 mb-md-11">課程收藏</h5>
                <div class="row g-7 g-lg-9">
                  <div class="col-lg-4">
                    <div class="card border-0 radius-32">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-12.png" alt="course-12" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          <label for="cart" class="card-icon-bg cursor"><i class="bi bi-cart fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">語言與文學</p>
                          <p class="tag-pill bg-purple text-nowrap">直播課程</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80">西班牙語入門</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－高宇琛</p>
                          <p class="text-primary">ESTP</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4>NT 899</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.9 (858)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card border-0 radius-32">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-13.png" alt="course-13" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          <label for="cart" class="card-icon-bg cursor"><i class="bi bi-cart fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">語言與文學</p>
                          <p class="tag-pill bg-purple text-nowrap">錄製課程</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80 stretched-link">設計思維與創新</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－張昕玟</p>
                          <p class="text-primary">ISFJ</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4 class="text-nowrap">NT 1,199</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.3 (1,031)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="card border-0 radius-32">
                      <div class="card-header border-0 position-relative bg-white pt-7 px-7 radius-32">
                        <img src="/assets/images/course-14.png" alt="course-14" class="card-img">
                        <form action="#" class="card-icon-position">
                          <input type="checkbox" id="collect" class="collect-ctrl d-none">
                          <label for="collect" class="collect-bookmark cursor card-icon-bg me-2"><i class="bi bi-bookmark fs-5"></i></label>
                          <label for="collect" class="collect-bookmark-fill cursor card-icon-bg me-2"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          <label for="cart" class="card-icon-bg cursor"><i class="bi bi-cart fs-5"></i></label>
                        </form>
                      </div>
                      <div class="card-body border-0 border-bottom-black px-0 mx-7">
                        <div class="d-flex">
                          <p class="tag-pill bg-gray-40 me-2 text-nowrap">語言與文學</p>
                          <p class="tag-pill bg-purple text-nowrap">錄製課程</p>
                        </div>
                        <h4 class="mb-2 mt-5"><a href="#" class="text-gray-80 stretched-link">跨文化心理學</a></h4>
                        <div class="d-flex">
                          <p class="me-4">講師－薛詩涵</p>
                          <p class="text-primary">INFP</p>
                        </div>
                      </div>
                      <div class="card-footer border-0 bg-white px-7 pt-5 pb-7 radius-32">
                        <div class="d-flex justify-content-between">
                          <h4>NT 899</h4>
                          <div class="d-flex justify-content-between align-items-center">
                            <img src="/assets/images/kid_star.png" alt="star">
                            <p class="text-nowrap text-success">4.7 (858)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pb-12 pb-lg-17">
              <div class="col-lg-10 mx-auto">
                <h5 class="border-bottom-black pb-5 mb-7 mb-md-11">文章收藏</h5>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active text-gray-80" id="pills-photo-tab" data-bs-toggle="pill" data-bs-target="#pills-photo" type="button" role="tab">攝影(8)</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link text-gray-80" id="pills-movie-tab" data-bs-toggle="pill" data-bs-target="#pills-movie" type="button" role="tab">電影(2)</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link text-gray-80" id="pills-work-tab" data-bs-toggle="pill" data-bs-target="#pills-work" type="button" role="tab">職場(2)</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link text-gray-80" id="pills-fashion-tab" data-bs-toggle="pill" data-bs-target="#pills-fashion" type="button" role="tab">流行(4)</button>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-photo" role="tabpanel">
                    <div class="card border-0 bg-white radius-32 p-7 mb-7">
                      <div class="d-flex flex-column flex-lg-row">
                        <div class="position-relative me-lg-7">
                          <img src="/assets/images/article-1.png" alt="article-1" class="card-img">
                          <form action="#" class="card-articleicon-position">
                            <input type="checkbox" id="collect-article-1" class="collect-ctrl d-none">
                            <label for="collect-article-1" class="collect-bookmark-fill cursor card-icon-bg"><i class="bi bi-bookmark fs-5"></i></label>
                            <label for="collect-article-1" class="collect-bookmark cursor card-icon-bg"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          </form>
                        </div>
                        <div>
                          <div class="d-flex flex-column-reverse flex-lg-row justify-content-between">
                            <div class="mb-5">
                              <h4 class="mb-5"><a href="#" class="text-gray-80">死侍與金鋼狼 : 觀影前必須知道的10件事</a></h4>
                              <div class="d-flex">
                                <p class="tag-pill bg-gray-40 me-2">電影</p>
                                <p class="tag-pill bg-gray-40">流行</p>
                              </div>
                            </div>
                            <p class="text-gray-60 py-5 py-lg-0">2024/7/18</p>
                          </div>
                          <p class="text-gray-60">《死侍與金鋼狼》回到漫威/迪士尼旗下，成了漫威電影宇宙首部R及電影，並被期待成為低迷許久的超級英雄電影救星...</p>
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 bg-white radius-32 p-7 mb-7">
                      <div class="d-flex flex-column flex-lg-row">
                        <div class="position-relative me-lg-7">
                          <img src="/assets/images/article-2.png" alt="article-2" class="card-img">
                          <form action="#" class="card-articleicon-position">
                            <input type="checkbox" id="collect-article-2" class="collect-ctrl d-none">
                            <label for="collect-article-2" class="collect-bookmark-fill cursor card-icon-bg"><i class="bi bi-bookmark fs-5"></i></label>
                            <label for="collect-article-2" class="collect-bookmark cursor card-icon-bg"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          </form>
                        </div>
                        <div>
                          <div class="d-flex flex-column-reverse flex-lg-row justify-content-between">
                            <div class="mb-5">
                              <h4 class="mb-5"><a href="#" class="text-gray-80">時裝表演舞台攝影心得</a></h4>
                              <div class="d-flex">
                                <p class="tag-pill bg-gray-40 me-2">美感設計</p>
                                <p class="tag-pill bg-gray-40 me-2">服務</p>
                                <p class="tag-pill bg-gray-40">精選整理</p>
                              </div>
                            </div>
                            <p class="text-gray-60 py-5 py-lg-0">2023/3/18</p>
                          </div>
                          <p class="text-gray-60">現今數碼 攝影器材的進步和提升，拍攝時裝表演對於攝影師更能得心應手，但選擇甚麼鏡頭，又要如何運用器材呢?...</p>
                        </div>
                      </div>
                    </div>
                    <div class="card border-0 bg-white radius-32 p-7">
                      <div class="d-flex flex-column flex-lg-row">
                        <div class="position-relative me-lg-7">
                          <img src="/assets/images/article-3.png" alt="article-3" class="card-img">
                          <form action="#" class="card-articleicon-position">
                            <input type="checkbox" id="collect-article-3" class="collect-ctrl d-none">
                            <label for="collect-article-3" class="collect-bookmark-fill cursor card-icon-bg"><i class="bi bi-bookmark fs-5"></i></label>
                            <label for="collect-article-3" class="collect-bookmark cursor card-icon-bg"><i class="bi bi-bookmark-fill fs-5"></i></label>
                          </form>
                        </div>
                        <div class="">
                          <div class="d-flex flex-column-reverse flex-lg-row justify-content-between">
                            <div class="mb-5">
                              <h4 class="mb-5"><a href="#" class="text-gray-80">妙用廣角定焦鏡頭,輕鬆隨拍大城小巷</a></h4>
                              <div class="d-flex">
                                <p class="tag-pill bg-gray-40 me-2">美感設計</p>
                                <p class="tag-pill bg-gray-40 me-2">城市</p>
                                <p class="tag-pill bg-gray-40">精選整理</p>
                              </div>
                            </div>
                            <p class="text-gray-60 py-5 py-lg-0">2022/10/20</p>
                          </div>
                          <p class="text-gray-60 ">提到街頭攝影，傳統上較多人選用焦距為35mm或50mm的定焦鏡頭，因為體積輕巧，且更接近令人更具有現場感...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-movie" role="tabpanel">...</div>
                  <div class="tab-pane fade" id="pills-work" role="tabpanel">...</div>
                  <div class="tab-pane fade" id="pills-fashion" role="tabpanel">...</div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- course collect -->
  

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
